



<mat-card>
  <mat-toolbar color="primary">Detalhes do curso</mat-toolbar>

  <mat-card-content>
    <form [formGroup]="form" class="full-width">
      <mat-form-field class="full-width">
        <input matInput placeholder="Nome" formControlName="name">
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Categoria</mat-label>
        <mat-select formControlName="category">
          <mat-option value="null"></mat-option>
          <mat-option value="front-end">Front End</mat-option>
          <mat-option value="back-end">BackEnd</mat-option>
        </mat-select>

      </mat-form-field>
    </form>
  </mat-card-content>

  <mat-card-actions>
    <button mat-stroked-button color="primary" (click)="onSubmit()">SALVAR</button>
    <button mat-stroked-button (click)="onCancel()">CANCELAR</button>
  </mat-card-actions>

</mat-card>
